# Flutter / build
/build/
/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Android / iOS secrets (DO NOT COMMIT)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
firebase.json

# IDE
.vscode/
